<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="login-form">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <h3 class="text-center">Enter a new password</h3>
            <div class="form-group has-error">
                <input type="password" class="form-control" name="newPassword" placeholder="New Password" required="required"
                    formControlName="newPassword" [ngClass]="{ 'is-invalid': f.newPassword.touched && f.newPassword.errors }">
                <div *ngIf="f.newPassword.touched && f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.errors?.required">New Password is required.</div>
                    <div *ngIf="f.newPassword.errors?.minlength">Password has to be at least 8 characters long.</div>
                    <div *ngIf="f.newPassword.errors?.pattern">Password shall contain alphabetic characters, numbers and at least one of the following characters: !@#$</div>
                    <div *ngIf="f.newPassword.errors?.pattern">Password can not start or end with space.</div>
                </div>
            </div>

            <div class="form-group has-error">
                <input type="password" class="form-control" name="newConfirmPassword" placeholder="Confirm new Password" required="required"
                    formControlName="newConfirmPassword" [ngClass]="{ 'is-invalid': f.newConfirmPassword.touched && f.newConfirmPassword.errors }">
                <div *ngIf="f.newConfirmPassword.touched && f.newConfirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newConfirmPassword.errors?.required">New Confirm Password is required.</div>
                    <div *ngIf="f.newConfirmPassword.errors?.passwordMatch">Passwords must match.</div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="loading" [disabled]="!changePasswordForm.valid" class="btn btn-primary btn-lg btn-block">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Change password
                </button>
            </div>
        </form>
        <p class="text-center small">I remember my password. <a href="/signin">Login here!</a></p>
    </div>
</body>

</html>