<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h2 class="text-center">Enter your Email Address</h2>
            <div class="form-group has-error">
                <input type="text" class="form-control" name="email" placeholder="Email Address" required="required"
                    formControlName="email" [ngClass]="{ 'is-invalid': submitted || f.email.touched && f.email.errors }">
                <div *ngIf="submitted || f.email.touched && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors?.required">Email is required.</div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="loading" [disabled]="!loginForm.valid" class="btn btn-primary btn-lg btn-block">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Send me a new password
                </button>
            </div>
        </form>
        <p class="text-center small">I remembered my password. <a href="/signin">Go back to the singin page!</a></p>
    </div>
</body>

</html>